<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card grey lighten-5 z-depth-5">
      <div class="card-content black-text">
        <span class="card-title black-text">Edit Note</span>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
