<footer class="page-footer grey darken-2 z-depth-2">
  <div class="container">
    <div class="row">
    <a class="grey-text text-lighten-4 right" href="http://sulmanbaig.com">&copy; Copyright Sulman Baig </a>
    </div>
  </div>
</footer>