<% content_for :title do %>
    About |
<% end %>
<div class="row">
  <div class="col m8 offset-m2">
    <div class="card grey lighten-2 z-depth-2">
          <span class="black-text flow-text">This app is about taking and saving notes from user and keep them safe until they share.
            This is a test project made by <a href="http://sulmanbaig.com">Sulman Baig</a>
          </span>
    </div>
  </div>
</div>

